.search {
  margin-top: 0.5rem;
  width: 100%;
}

.search__form {
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: $input-colour;
}

.search__icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.6rem;
}

.search__input {
  border: none;
  background-color: $input-colour;
  font-size: 0.85rem;
  width: 100%;
  color: $input-text-colour;
  letter-spacing: 1px;
}

.search__input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
