.search {
  margin: 0.5rem 0 1.3rem 0;
  width: 100%;
}

.search__form {
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #374151;
}

.search__icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.6rem;
}

.search__input {
  border: none;
  background-color: #374151;
  width: 100%;
  color: #ffffff;
}

.search__input::placeholder {
  color: #ffffff;
  font-size: 1rem;
}

.search__input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
