.movie {
  display: flex;
  flex-direction: column;
  background-color: $movie-background;
  color: #ffff;
  height: 100vh;
  padding: 0rem 2rem;
}

.movie__topWrapper {
  margin-top: 3rem;
  display: flex;
  position: relative;
}

.movie__infoWrapper {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.movie__ratingWrapper {
  display: flex;
  align-items: center;
  height: 1rem;
}

.movie__rating {
  width: 1.2rem;
}

.low {
  color: #f87171;
}

.med {
  color: #fbbf24;
}

.high {
  color: #34d399;
}

.movie__ratingNumber {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.movie__runtime {
  margin-top: 1rem;
  color: #7f7f7f;
  font-size: 0.8rem;
  font-style: italic;
}

.movie__director {
  margin-top: 1rem;
  color: #7f7f7f;
  font-size: 0.8rem;
  font-style: italic;
}

.movie__boxoffice {
  margin-top: 1rem;
  color: #7f7f7f;
  font-size: 0.8rem;
  font-style: italic;
}

.movie__rated {
  margin-top: 1rem;
  color: #7f7f7f;
  font-size: 0.8rem;
  font-style: italic;
}

.movie__releasedate {
  margin-top: 1rem;
  color: #7f7f7f;
  font-size: 0.8rem;
  font-style: italic;
}

.movie__add {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3rem;
  color: #fff;
}

.movie__border {
  margin-top: 1rem;
  border-bottom: 2px solid #7f7f7f36;
}

.movie__poster {
  width: 10rem;
  border-radius: 12px;
  overflow: hidden;
}

.movie__title {
  margin-top: 0.7rem;
  font-size: 1.4rem;
}

.movie__date {
  font-size: 1rem;
  color: #7f7f7f;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.movie__genreList {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.genre__item {
  margin: 0.2rem 0.6rem 0.8rem 0rem;
  padding: 0.5rem 0.8rem;
  border-radius: 9999px;
  color: #ffff;
}

$colors: #991b1b, #4c1d95, #2563eb, #1e40af, #064e3b, #831843;

@for $i from 1 through length($colors) {
  li:nth-child(#{length($colors)}n + #{$i}) {
    background: lighten(nth($colors, $i), 20%);
  }
}
