.movie {
  display: flex;
  flex-direction: column;
  background-color: $movie-background;
  color: #ffff;
  min-height: 100vh;
  padding: 0rem 2rem;
}

.movie__backBtn {
  margin-top: 1.5rem;
  width: 2.3em;
  background-color: $movie-background;
  border: 1px dashed #fff;
  border-radius: 9999px;
  padding: 0.5rem;
  cursor: pointer;
}

.movie__backBtn:hover,
.movie__add:hover,
.movie__remove:hover {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.movie__topWrapper {
  margin-top: 0.8rem;
  display: flex;
  position: relative;
}

.movie__infoWrapper {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.movie__ratingWrapper {
  display: flex;
  align-items: center;
  height: 1rem;
}

.movie__rating {
  width: 1.2rem;
}

.low {
  color: #f87171;
}

.med {
  color: #fbbf24;
}

.high {
  color: #34d399;
}
d .movie__ratingNumber {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.movie__info {
  margin-top: 1rem;
  color: #7f7f7f;
  font-size: 0.8rem;
  font-style: italic;
}

.movie__add {
  margin-top: 1rem;
  margin-left: auto;
  width: 3rem;
  color: #fff;
  cursor: pointer;
}

.movie__remove {
  margin-top: 1rem;
  margin-left: auto;
  width: 3rem;
  color: #fff;
  cursor: pointer;
}

.movie__add:hover {
  color: #34d399;
  transition: all 200ms;
}

.movie__remove:hover {
  color: #991b1b;
  transition: all 200ms;
}

.fav {
  transition: all 200ms;
}

.movie__border {
  margin-top: 1rem;
  border-bottom: 2px solid #7f7f7f36;
}

.movie__poster {
  width: 10rem;
  border-radius: 12px;
  overflow: hidden;
}

.movie__title {
  margin-top: 1.5rem;
  font-size: 1.4rem;
}

.movie__date {
  color: #7f7f7f;
}

.movie__genreList {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.genre__item {
  margin: 0.2rem 0.6rem 0.8rem 0rem;
  padding: 0.5rem 0.8rem;
  border-radius: 9999px;
  color: #ffff;
}

$colors: #991b1b, #4c1d95, #2563eb, #1e40af, #064e3b, #831843;

@for $i from 1 through length($colors) {
  li:nth-child(#{length($colors)}n + #{$i}) {
    background: lighten(nth($colors, $i), 20%);
  }
}

.movie__desc {
  line-height: 1.15rem;
  font-size: 0.85rem;
  color: #dfdfdf;
}
